<mat-form-field appearance="outline" class="password-field">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <input
    matInput
    [type]="visible ? 'text' : 'password'"
    [placeholder]="placeholder"
    [ngModel]="value"
    (ngModelChange)="handleInput($event)"
    (blur)="handleBlur()"
    [disabled]="disabled"
  />
  <button mat-icon-button matSuffix type="button" (click)="toggleVisibility()" tabindex="-1">
    <mat-icon>{{ visible ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  @if (errorText) {
    <mat-error>{{ errorText }}</mat-error>
  }
</mat-form-field>
